
<header class="menu" data-spy="affix" data-offset-top="0">
    <div class="leftMenu floatLeft" >
        <ul>
            <li ><a style="padding:7% 50px;" ui-sref="irctc.trainsList">Trains</a></li>
            <li ><a >Flights</a></li>
            <li ><a >Hotels</a></li>
            <li ><a >Packages</a></li>
            <li ><a >Help Center</a></li>    
        </ul>
    </div>
    <div class="rightMenu floatRight" >
        <ul>
            <li ><a class="anchorRightMenu">Search<img src="images/search.png"></a></li>
            <li ><a   class="anchorRightMenu" style="font-weight:bold;">L O G &nbsp; &nbsp; I N</a></li>
        </ul>
    </div>
    <div class="selectedMenuOptions">
        <div class="eachOption floatLeft" ui-sref="irctc">
            <div class="downArrow"></div>
        </div>
        <div class="eachOption floatLeft">
            <p class="setFontForOptionsP">        
                <img src="images/mobile.png" class="floatLeft">Plan Journey
            </p>
            <div class="setLine" style="display:block;"></div>
        </div>
        <div class="eachOption floatLeft">
            <p class="setFontForOptionsP">        
                <img src="images/mobile.png" class="floatLeft">Pnr Status
            </p>
            <div class="setLine"></div>
        </div>
        <div class="eachOption floatLeft">
            <p class="setFontForOptionsP">        
                <img src="images/mobile.png" class="floatLeft">Spot Train
            </p>
            <div class="setLine"></div>
        </div>
        <div class="eachOption floatLeft" style="padding:3% 3% 0 5%; ">
            <p class="setFontForOptionsP">        
                <img src="images/mobile.png" class="floatLeft">Train Schedules
            </p>
            <div class="setLine"></div>
        </div>
        <div class="eachOption floatLeft">
            <p class="setFontForOptionsP">        
                <img src="images/mobile.png" class="floatLeft">Pantry Menu
            </p>
            <div class="setLine"></div>
        </div>
</header>

