
    <div class="showDetails">

        <div class="showEachDetail floatLeft">

            <p  class="showTag">FROM</p>
            <div class="areaCode">
                <div class="letters floatLeft">N
                </div>

                <div class="letters floatLeft">Z
                </div>
                <div class="letters floatLeft">M
                </div>

            </div>
            <p class="showArea">Nizamuddin<br>New Delhi</p>
            <hr class="line">
        </div>

        <div class="showEachDetail floatLeft">
            <p  class="showTag">TO</p>
            <div class="areaCode">
                <div class="letters floatLeft">M
                </div>
                <div class="letters floatLeft">A
                </div>
                <div class="letters floatLeft">S
                </div>
            </div>
            <p class="showArea">Chennai Central<br><br></p>
            <hr class="line">
        </div>
        <div class="showEachDetail floatLeft">
            <p  class="showTag">ON</p>
            <div class="areaCode" style=" margin-left: 33%;">
                <div class="letters floatLeft">1
                </div>
                <div class="letters floatLeft">2
                </div>
            </div>
            <p class="showArea">Friday<br> December 2014</p>
            <hr class="line">
        </div>

    </div>

    <div class="searchTrains" >Search For Trains</div>
    <div class="explore">
        <p class="exploreLbl floatLeft">Explore<br>Desctinations</p>
        <div class="downloadRound floatLeft"> <p class="fa fa-arrow-down sizeOfArrow"></p></div>
        <p class="exploreLbl floatLeft">Explore<br>Trains</p>
    </div>
